/*фон меню - сепия*/
@font-face {
    font-family: 'helvetica';
    src: url('../fons/helveticaneue-thin-webfont.eot');
    src: url('../fons/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fons/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fons/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fons/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.content {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  width: 1213px;
  height: 1028px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  height: 36px;
  width: 1213px;
  margin: auto;
  background-color: #075190;
  font-size: 14px;
  font-family: helvetica;
}

li {
  float: left;
}

li > a {
  display: block;
  line-height: 16px;
  padding: 10px 20px;
  text-decoration: none;
  color: #60b5ed;
  font-size: 14px;
}

li a:hover {
  background-color: #4eabda;
  color: white;
}

li:first-child {
  margin-left: 407px;
}

.menu2 {
  float: left;
  margin-right: 20px;
  color: white;
}

.menu2 a {
  color: white;
}
.imgflag {
  float: left;
  height: 16px;
  padding-top: 7px;
  padding-bottom: 5px;
  margin-right: 12px;
  margin-left: 19px;
}
.linepng {
  float: left;
  padding-top: 2px;
}
.minhas {
  float: left;
  height: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.rightmenu {
  float: right;
  height: 14px;
  width: 165px;
  background: rgba(81,176,220,1);
  background: -moz-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(81,176,220,1)), color-stop(100%, rgba(46,121,196,1)));
  background: -webkit-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
  background: -o-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
  background: -ms-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
  background: linear-gradient(to bottom, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b0dc', endColorstr='#2e79c4', GradientType=0 );
  padding: 10px 12px 10px 14px;
  margin-left: 17px;
  border: 1px solid #4299d2;
}

.bacgroundform {
  width: 560px;
  height: 613px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cadastre {
  width: 560;
  height: 22px;
  border-bottom: 2px solid #edecec;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 24px;
}
.cadastre p {
  text-align: center;
  font-family: helvetica;
}
.bacgroundform {
  display: block;
}
.bacgroundform .input {
  display: block;
}
.facebook {
  margin: 0 auto;
  margin: 36px 142px 31px 142px;

}
.ou {
  font-size: 12px;
  color: #999999;
  font-family: helvetica;
  text-align: center;
  background-image: url(../img/ou-background.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 29px;
}

.input {
  background-color: black;
  color: #cccccc;
  height: 31px;
  width: 272px;
  margin: 17px 142px;
  padding-left: 18px;
  border: 2px solid transparent;
  border-bottom: 1px solid #484948;
  font-family: helvetica;
}

.input:hover {
  background-color: #1b5288;
  border: 2px solid #1f4b76;
  border-bottom: 1px solid #6c9ed0;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(119,169,219,0.5);
  -moz-box-shadow: 0px 0px 4px 4px rgba(119,169,219,0.5);
  box-shadow: 0px 0px 4px 4px rgba(119,169,219,0.5);
}
label {
  display: block;
  color: #cccccc;
  margin-left: 137px;
  vertical-align: top;
  font-family: helvetica;
}

button {
  margin: 24px 203px;
  margin-bottom: 15px;
  width: 149px;
  height: 31px;
  color: white;
  font-size: 14px;
  border: 1px solid #84b8da;
  border-radius: 3px;
  background: rgba(103,198,230,1);
background: -moz-linear-gradient(top, rgba(103,198,230,1) 0%, rgba(54,133,202,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(103,198,230,1)), color-stop(100%, rgba(54,133,202,1)));
background: -webkit-linear-gradient(top, rgba(103,198,230,1) 0%, rgba(54,133,202,1) 100%);
background: -o-linear-gradient(top, rgba(103,198,230,1) 0%, rgba(54,133,202,1) 100%);
background: -ms-linear-gradient(top, rgba(103,198,230,1) 0%, rgba(54,133,202,1) 100%);
background: linear-gradient(to bottom, rgba(103,198,230,1) 0%, rgba(54,133,202,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c6e6', endColorstr='#3685ca', GradientType=0 );
font-family: helvetica;
font-weight: bold;
}
.text p {
  color: #cccccc;
  text-align: center;
  font-size: 11px;
  line-height: 16px;
  font-family: helvetica;
}
